.auth-field {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 10px;
}
.auth-field__label {
   display: block;
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
   color: #8b8b8b;
   margin-bottom: 10px;
}

.auth-field__input {
   height: 46px;
   font-weight: 500;
   font-size: 13px;
   line-height: 16px;
   background: #2f2f2f;
   border-radius: 8px;
   border: none;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   padding: 15px;
}

.auth-field__input:focus {
   outline: none;
}

.auth-field__error {
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
   color: #ee3465;
   margin-top: 10px;
}
